path: ???
n_simulations: 6
gui: False
test_conf_path: ${hydra:runtime.cwd}/../config/test_conf/
test_conf_name: default_at_2m.pkl

hydra:
  run:
    dir: ${path}/../../tests
  sweep:
    dir: ${hydra.run.dir}
    subdir: ""
