buffer:
  size: 500

simulation:
  n: 20
  guis:
    -

experiment:
  n_episodes: 50000
  critic_every: 1
  encoders_every: 1
  evaluate_every: 25
  test_every: 250
  test_at_start: False
  record_episode_every: 250
  save_every: 250
  final_recording: True
  repetition: 0
  restore_encoder: None


defaults:
  - procedure: no_decay
  - procedure/screen: default
  - agent: default
  - agent/exploration: default
  - agent/scales: default
  - agent/pathways/pavro: log_vergence
  - agent/pathways/pavro/vergence_critic_model_arch: conv_32_dense_200_dense_200_dense_n
  - agent/pathways/pavro/cyclo_critic_model_arch: conv_32_dense_200_dense_200_dense_n
  - agent/pathways/pavro/encoder_model_arch: default
  - agent/pathways/pavro/decoder_model_arch: default
  - agent/pathways/magno: log_pan_tilt
  - agent/pathways/magno/tilt_critic_model_arch: conv_32_dense_200_dense_200_dense_n
  - agent/pathways/magno/pan_critic_model_arch: conv_32_dense_200_dense_200_dense_n
  - agent/pathways/magno/encoder_model_arch: default
  - agent/pathways/magno/decoder_model_arch: default


hydra:
  run:
    dir: ../experiments/${now:%Y-%m-%d}/${now:%H-%M-%S}_${slash_to_dot:${hydra.job.override_dirname}}
  sweep:
    dir: ../experiments/${now:%Y-%m-%d}/${now:%H-%M-%S}/
    subdir: job${hydra.job.num}_${slash_to_dot:${hydra.job.override_dirname}}
  job:
    config:
      # configuration for the ${hydra.job.override_dirname} runtime variable
      override_dirname:
        kv_sep: '.'
        item_sep: '__'
        exclude_keys: [experiment.restore_encoder]
