# @package _group_

episode_length: 10
n_evaluation_batch: 20
batch_size: 64
updates_per_sample: 16
reward_scaling: 1500
max_abs_cyclo_error: 0
vergence_min_distance_init: 0.5
vergence_max_distance_init: 5.0

critic_learning_rate:
  -
    iteration: 0
    lr: 16e-5

encoder_learning_rate:
  -
    iteration: 0
    lr: 128e-5

test_conf_path: ${hydra:runtime.cwd}/../config/test_conf/default_at_2m.pkl

train_from_dataset:
  critic_learning_rate: 0.00016
  encoder_learning_rate: 0.00128
  batch_size: 64
